@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primero: #00023b;
  --primero-hover: #14175d;
  --segundo: #2e3062;
  --tercero: #e7e8f3;
  --rosa: #c5145e;
  --rosa-hover: #c72568;
}

/* ESTILOS GLOBALES DE EL DOCUMENTO */
body {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Poppins", sans-serif;
}

/* ESTILOS DEL BOTON RESPONSIVE */
.bars_menu {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 40px;
  cursor: pointer;
  z-index: 10;
}

.bars_menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--rosa);
  margin-top: 10px;
  transform-origin: 0px 100%;
  transition: all 400ms;
}

.activeline1_bars-menu {
  transform: rotate(45deg) translate(3.5px, 1px);
}

.activeline2_bars-menu {
  opacity: 0;
  margin-left: -30px;
}

.activeline3_bars-menu {
  transform: rotate(-45deg) translate(2px, 2px);
}

.options.active {
  animation: fadeIn 0.3s forwards;
  opacity: 1;
  visibility: visible;
}

.options.out {
  animation: fadeOut 0.3s forwards;
}

/* ANIMACIONES DEL BOTON RESPONSIVE */
@keyframes fadeIn {
  from {
    transform: translateY(-200px) scale(0.5);
  }
  to {
    transform: translateY(0) scale(1);
  }
}
@keyframes fadeOut {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(-20px) scale(0.8);
    opacity: 0;
  }
}
/* MENÚ RESPONSIVE DEL DOCUMENTO */
.menu-resp {
  display: none;
  background-color: var(--primero);
  padding-top: 20px;
}

.menu-resp a {
  display: flex;
  justify-content: start;
  width: 150px;
  padding: 10px 15vw;
  color: white;
  text-decoration: none;
  border-radius: 100px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.activemenu {
  display: block;
}

/* ESTILOS GLOBALES DEL HEADER */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  z-index: 10;
  background-color: var(--primero);
}

/* ESTILOS DEL LOGO */
#logo img {
  width: 60px;
  margin-left: 30px;
  cursor: pointer;
}

#logo {
  display: flex;
  align-items: center;
}

#logo p {
  color: var(--rosa);
  margin-left: 10px;
  font-size: 20px;
  line-height: 20px;
}

/* ESTILOS DEL MENÚ */
#menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

#menu div {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  transition: box-shadow 0.1s ease, color 0.2s ease;
}

#menu div:hover {
  color: var(--rosa);
  box-shadow: 0px 6px 1px -5px var(--rosa);
}

#menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

/* ESTILOS GLOBALES DEL MAIN */
main {
  background-color: var(--tercero);
}

/* ESTILOS DE LA PAGINA INDEX */
/* CABEZERA DE LA PAGINA INDEX */
#heading-title {
  position: relative;
  width: 100%;
  min-height: 750px;
  height: 90vh;
  display: flex;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(#00023b, #00023b, #00023b, #1c0330, #380638, #390742, #390845, #581469);
}

#heading-title #texto-title {
  text-transform: uppercase;
  font-size: 90px;
  font-weight: 600;
  margin: 0 auto;
  color: white;
  margin-top: 50px;
}

#texto-title p {
  font-size: 17px;
  text-transform: none;
  font-weight: 200;
  margin: 0 20vw;
  padding: 20px;
}

#texto-title button {
  padding: 20px 50px;
  border: none;
  background-color: var(--rosa);
  color: white;
  letter-spacing: 1px;
  font-size: 20px;
  border-radius: 100px;
  cursor: pointer;
}

#texto-title button:hover {
  background-color: var(--rosa-hover);
}

/* INTRODUCCION DE LA PAGINA DEL INDEX */
#first-introduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding: 50px;
}

#first-introduction img {
  width: 15vw;
  min-width: 250px;
  box-shadow: 1px 1px 20px black;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  opacity: 0;
}

#first-introduction div {
  width: 800px;
  text-align: justify;
  opacity: 0;
}

#first-introduction h1 {
  text-align: left;
  color: var(--primero);
}

/* SERVICIOS DE LA PAGINA DEL INDEX */
#servicios {
  display: flex;
  gap: 50px;
  padding: 30px 50px;
  background-color: var(--segundo);
  color: var(--tercero);
}

#servicios h2 {
  color: var(--tercero);
}

#servicios button {
  padding: 15px 20px;
  background-color: var(--primero);
  border: none;
  border-radius: 100px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  width: 150px;
  transition: transform 0.15s ease;
}

#servicios button:hover {
  background-color: var(--primero-hover);
  transform: scale(1.1);
}

[id^=servicio-] {
  opacity: 0;
}

[id^=servicio-] h2 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: -5px;
}

/* ANIMACIONES PARA LA PAGINA DEL INDEX */
@keyframes slideInFromBottom {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  animation: slideInFromBottom 1.5s ease-out forwards;
}

/* ESTILOS PARA LA PAGINA DE SOBRE NOSOTROS */
/* ESTILOS PARA LA PAGINA DE SOBRE NOSOTROS PARTE INTRODUCTORIA */
#sn-intro {
  display: flex;
  justify-content: space-around;
  text-align: justify;
  padding: 110px;
}

#sn-intro img {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 50px;
  box-shadow: 1px 1px 20px black;
  opacity: 0;
}

#sn-intro div {
  opacity: 0;
}

/* ESTILOS PARA LA PAGINA DE SOBRE NOSOTROS PARTE DE VALORES */
#sn-valores {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 110px;
  background-color: var(--segundo);
  color: var(--tercero);
}

#sn-valores img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px black;
  margin-left: 50px;
  opacity: 0;
}

#sn-valores div h1,
#sn-valores div p,
#valores div h3,
#valores div p {
  opacity: 0;
}

#valores {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#valores div {
  width: 220px;
}

/* ESTILOS PARA LA PAGINA DE SOBRE NOSOTROS PARTE DEL EQUIPO*/
#sn-equipo {
  display: flex;
  justify-content: space-around;
  margin: 110px;
  text-align: justify;
}

#sn-equipo img {
  width: 400px;
  height: 250px;
  margin-right: 50px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px black;
  opacity: 0;
}

#sn-equipo div {
  opacity: 0;
}

/* ESTILOS PARA LA PAGINA DE SOBRE NOSOTROS PARTE DE LA OFERTA */
#sn-oferta {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  text-align: justify;
  padding: 110px;
  background-color: var(--segundo);
  color: var(--tercero);
}

#sn-oferta img {
  width: 400px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px black;
  opacity: 0;
}

#sn-oferta div {
  opacity: 0;
}

/* ESTILOS PARA LA PAGINA DE SOBRE NOSOTROS PARTE DE CONECTA */
#sn-conecta {
  display: flex;
  text-align: justify;
  margin: 0 auto;
  width: 63vw;
  padding: 110px;
}

#sn-conecta div {
  opacity: 0;
}

#sn-conecta button {
  padding: 15px 20px;
  background-color: var(--primero);
  border: none;
  border-radius: 100px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  width: 150px;
  transition: transform 0.15s ease;
}

#sn-conecta button:hover {
  background-color: var(--primero-hover);
  transform: scale(1.1);
}

/* ESTILOS PARA LA PAGINA DE CONTACTO */
#contacta {
  padding: 20px;
}

#contacta h1 {
  margin: 0;
}

#contacta form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-width: 250px;
  margin: 0 auto;
}

#contacta form #nombre,
#contacta form #gmail,
#contacta form #asunto,
#contacta form textarea {
  border: solid 1.5px #d2d4ed;
  border-radius: 5px;
  padding: 7px;
  outline: none;
}

#contacta form #flab {
  color: var(--primero);
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
}

#contacta form #check-leido-priv {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

#contacta form #checkpriv {
  transform: scale(1.3);
  margin-right: 10px;
}

#contacta form button {
  padding: 15px 20px;
  background-color: var(--primero);
  border: none;
  border-radius: 100px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  width: 150px;
  margin-top: 20px;
  transition: transform 0.15s ease;
}

#contacta form button:hover {
  background-color: var(--primero-hover);
  transform: scale(1.1);
}

/* ESTILOS PARA EL PIE DE PAGINA */
footer {
  background-color: var(--primero);
  padding: 20px;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

#fondo-img img {
  width: 60px;
  padding: 50px;
}

footer div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 5px;
}

/* ESTILOS RESPONSIVOS PARA TABLET */
@media (width < 1255px) {
  #heading-title #texto-title {
    font-size: 7.9vw;
  }
  #servicios {
    display: block;
  }
}
@media (width < 1024px) {
  #sn-intro {
    flex-direction: column-reverse;
    padding: 20px;
  }
  #sn-valores {
    flex-direction: column-reverse;
    padding: 20px;
  }
  #valores {
    flex-direction: column;
    align-items: start;
  }
  #valores div {
    width: auto;
  }
  #sn-equipo {
    flex-direction: column-reverse;
    padding: 20px;
    margin: 0;
  }
  #sn-oferta {
    flex-direction: column-reverse;
    padding: 20px;
  }
  #sn-conecta {
    margin: 0;
    padding: 20px;
    width: auto;
  }
  #sn-conecta h1 {
    text-align: left;
  }
  #sn-intro img,
  #sn-valores img,
  #sn-equipo img,
  #sn-oferta img {
    margin: 0 auto;
  }
  #sn-intro img,
  #sn-equipo img,
  #sn-oferta img {
    width: 250px;
    height: 170px;
  }
  #sn-valores img,
  #sn-oferta img {
    display: none;
  }
}
/* ESTILOS RESPONSIVOS PARA MOVIL */
@media (width < 768px) {
  #logo img {
    width: 50px;
  }
  header {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
  }
  main {
    margin-top: 80px;
  }
  #menu {
    display: none;
  }
  .bars_menu {
    display: block;
    margin-top: 4px;
  }
  .menu-resp {
    width: auto;
    height: 70vh;
    overflow: auto;
    z-index: 30;
  }
  #menu div {
    margin-bottom: 20px;
  }
  #heading-title {
    height: 100vh;
  }
  #first-introduction {
    flex-direction: column-reverse;
    padding: 0 20px;
    text-align: center;
  }
  #first-introduction img {
    margin: 50px 0;
  }
  #first-introduction div {
    width: auto;
  }
  #first-introduction h1 {
    text-align: center;
    font-size: 8vw;
  }
  #servicios {
    padding: 20px;
  }
}/*# sourceMappingURL=style.css.map */