/* Global Styles */
body {
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Roboto", sans-serif;
}

/* Header Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 10px;
}

#logo img {
  width: 200px;
  cursor: pointer;
}

#menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

#menu div {
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0 10px;
  transition: box-shadow 0.2s ease, color 0.2s ease;
}

#menu div:hover {
  color: #0b91ab;
  box-shadow: 0px 8px 1px -5px #0b91ab;
}

#menu a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
}

/* First image Index */
#heading-title {
  background-image: url(../img/fondo.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  text-align: center;
}

#heading-title div {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
  margin: 0 auto;
  color: #131d26;
}

/* Introduction Index */
#first-introduction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  margin: 50px;
}

#first-introduction img {
  width: 300px;
  border-radius: 20px;
  margin: 0 50px;
  margin-bottom: 20px;
}

#first-introduction div {
  width: 800px;
  text-align: justify;
}

#first-introduction h1 {
  font-family: "Kanit", sans-serif;
  text-align: left;
  color: #131d26;
}

#servicios {
  display: flex;
  gap: 50px;
  margin: 20px 50px;
}

#servicios button {
  font-family: "Kanit", sans-serif;
  padding: 10px 20px;
  background-color: #131d26;
  border: none;
  border-radius: 7px;
  color: white;
  letter-spacing: 1px;
  cursor: pointer;
  width: 130px;
  transition: transform 0.15s ease;
}

#servicios button:hover {
  background-color: #233646;
  transform: scale(1.1);
}

#servicio-1,
#servicio-2,
#servicio-3,
#servicio-4 {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

#servicio-1 h2,
#servicio-2 h2,
#servicio-3 h2,
#servicio-4 h2 {
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: -5px;
}

/* Introduction for Animation */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInFromRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left {
  animation: slideInFromLeft 1.5s ease-out forwards;
}

.slide-in-right {
  animation: slideInFromRight 1.5s ease-out forwards;
}

/* Footer Style */
footer {
  margin: 0 20px;
}

#fondo-img {
  margin: 50px;
}

#fondo-img img {
  width: 200px;
}

footer div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 5px;
}

/* Mobile for Styles */
@media (width < 1255px) {
  #heading-title div {
    font-size: 7.9vw;
  }
}
@media (width < 1024px) {
  #servicios {
    display: block;
  }
}
@media (width < 768px) {
  header {
    display: block;
  }
  #logo {
    text-align: center;
    margin-bottom: 20px;
  }
  #menu {
    display: block;
  }
  #menu div {
    margin-bottom: 20px;
  }
  #heading-title {
    height: 350px;
  }
  #heading-title img {
    width: 100px;
  }
  #first-introduction {
    flex-direction: column-reverse;
    margin: 0 50px;
    text-align: center;
  }
  #first-introduction img {
    width: 220px;
  }
  #first-introduction div {
    width: auto;
  }
  #first-introduction h1 {
    text-align: center;
    font-size: 25px;
  }
  .slide-in-left {
    animation: none;
  }
  .slide-in-right {
    animation: none;
  }
}/*# sourceMappingURL=style.css.map */